%section#home.bg-light-dark
  .container
    .row
      .col-lg-8
        %h2.section-heading All Upcoming Events
        %br
      .col-lg-12
        - @events.each do |date, events|
          %h3{ style: 'padding-bottom: 5px;'}= date
          - events.each do |event|
            %h4
              = "- "
              = link_to(event.name, event.url, target: '_blank')
              = 'at'
              = event.start_time.strftime('%I:%M %p')
            .span{ style: 'display: inline-block; padding-left: 10px;' }= 'by'
            .span{ style: 'display: inline-block; padding-bottom: 20px;' }= link_to(event.group.name, event.group.url, target: '_blank')
          %br
